{% extends 'base.html' %}

{% block body %}
    
    {% set days = {'mon':'понедельник','tue':'вторник','wed':'среда','thu':'четверг','fri':'пятница','sat':'суббота','sun':'воскресенье'} %}
     <div class="row mt-5">
        <div class="col-6 offset-3">
            <form action="/sending_booking" class="card mb-3" method="POST" >

                  <div class="card-body text-center pt-5">
                    <img src="{{ profile['picture'] }}" class="mb-3" width="95" alt="">
                    <h5 class="card-title mt-2 mb-2">{{ profile['name'] }}</h5>
                    <p class="my-1">Запись на пробный урок</p>
                    <p class="my-1">{{ days[day_booking]|capitalize }}, {{ time_booking }}</p>
                  </div>


                   <hr/>

                   <div class="card-body mx-3">

                       <p class="mb-1 mt-2">Вас зовут</p>
                       <input class="form-control" type="text" placeholder="" name="fio">

                       <p class="mb-1 mt-2">Ваш телефон</p>
                       <input class="form-control" type="text" placeholder="" name="phone">

                       <input type="hidden" value="{{ id_teach }}" name="id_teach">
                       <input type="hidden" value="{{ day_booking }}" name="day_booking">
                       <input type="hidden" value="{{ time_booking }}" name="time_booking">
                       
                       <input type="submit" class="btn btn-primary btn-block mt-4" value="Записаться на пробный урок">

                   </div>

                </form>

        </div>
     </div>

{% endblock %} 