{% extends 'base.html' %}

{% block body %}
    <h2 class="h1 text-center w-50 mx-auto mt-4 py-5"><strong>Найдите идеального репетитора английского, занимайтесь онлайн</strong></h2>

    <div class="w-75 m-auto">
        {% for id in profiles %}
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-3"><img src="{{ profiles[id]['picture'] }}" class="img-fluid"></div>
                    <div class="col-9">
                        <p class="float-right">Рейтинг: <span class="font-weight-bold">{{ profiles[id]['rating'] }}</span> Ставка: <span class="font-weight-bold">{{ profiles[id]['price'] }} / час</span></p>
                        <h5>{{ profiles[id]['name'] }}</h5>
                        <p>{{ profiles[id]['about'] }}</p>
                        <a href="/profiles/{{ id }}" class="btn btn-primary btn-sm mr-3">Записаться на пробный урок</a>
                        <a href="/message?id={{ id }}" class="btn btn-outline-primary btn-sm">Отправить сообщение</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

{% endblock %} 