{% extends 'base.html' %}

{% block body %}
     <div class="row mt-5">
        <div class="col-6 offset-3">
            <div class="card mb-3" >


                  <div class="card-body text-center pt-5">
                    <img src="../static/check.png" class="mb-3" width="65" alt="">
                    <h3 class="card-title mt-4 mb-2">Отправлено!</h3>
                    <p>Скоро мы вам перезвоним</p>
                  </div>

                   <hr/>

                   <div class="card-body mx-5">
                     <p><b>Тема:</b> Сообщение</p>
                     <p><b>Кому:</b> {{ profile['name'] }}</p>
                     <p><b>Имя:</b> {{ fio }}</p>
                     <p><b>Телефон:</b> {{ phone }}</p>
                  </div>


                </div>

        </div>
     </div>

{% endblock %} 