{% extends 'base.html' %}

{% block body %}
    
    {% set days = {'mon':'понедельник','tue':'вторник','wed':'среда','thu':'четверг','fri':'пятница','sat':'суббота','sun':'воскресенье'} %}

     <div class="row mt-5">
        <div class="col-6 offset-3">
            <div class="card mb-3" >

                  <div class="card-body text-center pt-5">
                    <img src="../static/check.png" class="mb-3" width="65" alt="">
                    <h3 class="card-title mt-4 mb-2">Отправлено!</h3>
                    <p>Скоро мы вам перезвоним</p>
                  </div>

                   <hr/>

                   <div class="card-body mx-5">
                     <p><b>Тема:</b> Пробный урок</p>
                     <p><b>Дата:</b> {{ days[information_booking.day_booking]|capitalize }}, {{ information_booking.time_booking }}</p>
                     <p><b>Имя:</b> {{ information_booking.fio_user }}</p>
                     <p><b>Телефон:</b> {{ information_booking.phone_user }}</p>
                  </div>

                </div>

        </div>
     </div>

{% endblock %} 